{% extends "_main.jinja" %}

{% block title %} Welcome to Markdown blog {% endblock %}
    
{% block main %} Lorem ipsum,orem ipsum,orem ipsum,orem ipsumorem ipsum,orem ipsumorem ipsum,orem ipsumorem ipsumorem
ipsumorem ipsum{% endblock %}
 